<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Mascota:</b>
  <span id="tipomascota" data-tipo="<%= @user.mascota %>"></span>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<script>
$(function() {
	$("#tipomascota").load("http://localhost:3000/animals/" + $("#tipomascota").attr("data-tipo") + " #tipo");
})
</script>